@charset "UTF-8";
body{
  background-image: url("../imgs/cev-portrait.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;

}
.tipo__portrait{
  display: block;
}