*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  width: 100vw;
  background:black;
}
body{
  background-image: url('../imagens/fundo-madeira.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .8s;
}
main{
  position: relative;
  height:100vh;

}
#telefone{
  background-image: url('../imagens/frame-iphone.png');
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  top: 50%;
  translate: -40% -50%;
  height: 630px;
  width: 311px;
  margin: auto;
}
#tela{
  position: relative;
  left: 21px;
  width: 268px;
  top: 80px;
  height: 471px;
  background-size: contain;
}
#menu{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  gap: 20px;
  margin-right: 20px;
}
#menu img{
  width: 50px;
  border-radius: 3px;
  box-shadow: 1px 3px 4px black;
  height: 50px;
  transition: 700ms all;
}
#menu img:hover{
  transform: translateX(17px);
}
#menu img:focus{
  box-shadow: white;
}
#home{
  order: -1;
} 